body{
    background-color: rgb(216, 228, 237);
    max-width: 1360px;
    margin: 0 auto;
}

.menuContenedor{
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.izquierda img{    
    width: 149px;
}
.derecha{
    background-color: bisque;
}

li{
    display: inline-block;
}
